<a href="https://wa.me/5930963675860" target="_blank">
    <img id="whatsapp" alt="whatsapp Logo"
        src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fwhatsapp_logo.png?alt=media&token=aec61d6b-1381-4c25-9d6e-13c730a0763f" />
</a>


<li *ngIf="isLoggedIn" >
    <a data-toggle="modal" data-target="#modalEstrellas">
        <img id="rating" alt="rating Logo"
            src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fstar-rating.png?alt=media&token=c688b3b5-9149-45a2-b424-57b52b993454" />
    </a>
</li>

<app-rating-user></app-rating-user>