<footer class="footer-48201">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pr-md-5">
                <h2 class="footer-site-logo d-block mb-4">Nuestra empresa</h2>
                <p>Empresa de zapatos, dedicada para dar el mejor servicio y calidad de calzado del mercado, con las
                    mejores marcas reconocidas.
                </p>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <h2 class="footer-site-logo d-block mb-4">Navegación</h2>    
                    <li><a [routerLink]="['/home']" (click)="redirectAndScrollToTop('/home')">Inicio</a></li>
                    <li><a routerLinkActive="active"
                        [routerLink]="['/ultimas_novedades']" (click)="redirectAndScrollToTop('/ultimas_novedades')">Ultimos Modelos</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/hombres']" (click)="redirectAndScrollToTop('/hombres')">Hombres</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/mujeres']" (click)="redirectAndScrollToTop('/mujeres')">Mujeres</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/ninos']" (click)="redirectAndScrollToTop('/ninos')">Niños</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/ofertas']" (click)="redirectAndScrollToTop('/ofertas')">Ofertas</a></li>
                </ul>
            </div>

            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <h2 class="footer-site-logo d-block mb-4">Información</h2>
                    <li><a [routerLink]="['/about-us']" (click)="redirectAndScrollToTop('/about-us')">Sobre Nosotros</a></li>
                    <li><a href="https://wa.me/5930963675860" target="_blank">Preguntas en Whatsapp</a></li>
                </ul>
            </div>

            <div class="col-md text-md-center">
                <ul class="social list-unstyled">
                    <h2 class="footer-site-logo d-block mb-4">Redes Sociales</h2>
                    <a href="https://www.facebook.com/profile.php?id=100090412683910" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/astroshoes4/" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://wa.me/5930963675860" target="_blank" class="fa fa-whatsapp"></a>
                </ul>
                <p class=""><button (click)="abrirmodal()" class="btn btn-tertiary" type="submit" data-toggle="modal" data-target="#modal2">Contáctanos</button></p>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 text-center">
                <div class="copyright mt-5 pt-5">
                    <p><small>&copy; 2023 Todos los derechos reservados ASTROSHOES</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal-container" *ngIf="info_modal==true">
  <app-contacto-modal></app-contacto-modal>
</div>
