<div class="modal" id="modal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inicia un chat con nosotros en WhatsApp</h5>
      </div>
      <div class="modal-body">
        <img src="https://cdn-icons-png.flaticon.com/512/124/124034.png?w=360" alt="WhatsApp logo">
      </div>
      <div class="modal-footer">
        <a href="https://wa.me/5930963675860" target="_blank" class="btn btn-primary" target="_blank">Iniciar chat</a>
      </div>
    </div>
  </div>
</div>
