<!-- Galeria de imagenes -->
<div class="row mx-5 py-5">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="1000">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_1-min.jpg?alt=media&token=fb35f3dc-0e9f-49ef-9ea4-4a96b1fd4cff"
            class="w-100 shadow-1-strong rounded mb-4" />

        <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_7-min.jpg?alt=media&token=c1b2ee82-a47f-481e-9261-8efc9d2cfd8a"
            class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="1000">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_8-min.jpg?alt=media&token=836c7ae5-80a4-4a4c-a07b-10a56a4d0265"
            class="w-100 shadow-1-strong rounded mb-4" />

        <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_6-min.jpg?alt=media&token=be2a5018-1a65-46fe-be35-460eac3ea749"
            class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="1000">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_5-min.jpg?alt=media&token=7e09cac4-bd91-4278-9dc9-8745e6482863"
            class="w-100 shadow-1-strong rounded mb-4" />

        <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_9-min.jpg?alt=media&token=ad5b4d1e-6c5e-4809-b492-a555ccfc2c6f"
            class="w-100 shadow-1-strong rounded mb-4" />
    </div>
</div>
<!-- Fin de Galeria de imagenes -->


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-8"><img class="card-img-top mb-4 mb-md-12" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic" data-aos-duration="2000"
                    src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body8.jpg?alt=media&token=7f9c92f7-75b4-4e45-b55e-94e153cdb0ec"
                    class="img-fluid" alt="Responsive image" />
            </div>
            <div class="col-md-4">
                <br>
                <div class="bg-2">
                    <h1 class="t-stroke t-shadow display-5 fw-bolder text-center">REINVENTA TU LOOK CON VANS</h1> <br>
                </div>
                <br>
                <p class="lead fw-bolder text-center" style="padding-top: 10px;"> Vans en estado puro. </p>
                <p class="lead text-center">El modelo Authentic representa el estilo de la marca por encima de cualquier
                    otro diseño, con un rollo más retro y elegante.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- --- Imagen responsiva de tipo collage ------>
<div class="" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body10.jpg?alt=media&token=a50375b1-09a8-46c6-b6aa-d9e77f7249d3"
        class="img-fluid ">
</div>

<!-- Product section 1-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4">
                <br>
                <div class="bg-2">
                    <h1 class="t-stroke t-shadow display-5 fw-bolder text-center">A LA MODA CON ADIDAS</h1> <br>
                </div>
                <br>
                <p class="lead fw-bolder text-center" style="padding-top: 10px;"> Adidas Confort Style. </p>
                <p class="lead text-center">Descubre todo de lo que eres capaz, cuando confias en ti mismo y alcanzas un
                    estado de confort absoluto.
                </p>
            </div>
            <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000" class="col-md-8"><img
                    class="card-img-top mb-4 mb-md-12"
                    src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body6.jpg?alt=media&token=ff4dac7a-4a66-4987-8afc-0f0662f00d9a"
                    class="img-fluid" alt="Responsive image" />
            </div>
        </div>
    </div>
</section>