<!--Detalles del producto-->
<!-- Inicio de Modal-->
<div class="modal fade" id="modal1" #myModal>
    <div class="modal-dialog modal-md modal-fullscreen-sm-down">
        <!-- Modal content-->
        <div class="modal-content animated-modals fadeIn" *ngFor="let detalle of cargar">
            <div class="modal-header">
                <h4 class="modal-title" alt="nombreproducto">{{detalle.nombre_producto}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Cuerpo del Modal-->
            <div class="modal-body animated fadeIn">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="zoom-effect">
                            <a href="#" data-toggle="modal" data-target="#modal2">
                                <img src="{{detalle.img}}" alt="imagenproducto" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <p alt="precioproducto">Precio: $<strong style="font-weight: 700;"> {{detalle.costo}} </strong>
                        </p>
                        <h4><span class="badge rounded-pill text-bg-info" alt="Categoria"> Talla:
                                {{detalle.talla}}</span></h4>
                        <h4><span class="badge rounded-pill text-bg-dark" alt="Marca"> Modelo: {{detalle.modelo}}
                            </span></h4>
                        <h4><span class="badge rounded-pill text-bg-secondary" alt="Marca"> Género: {{detalle.genero}}
                            </span></h4>
                        <div class="row pt-4">
                            <div class="col-xs-12 mb-2">
                                <button *ngIf="isLoggedIn && userRole" class="btn btn-outline-danger"
                                    (click)="addToFavorites(detalle.pk_id_producto)" type="button">
                                    <i class="fas fa-heart"></i> Agregar a los deseos</button>
                            </div>
                            <div class="col-xs-12">
                                <button *ngIf="isLoggedIn && userRole" (click)="addToCarrito(detalle.pk_id_producto)"
                                    type="button" class="btn btn-outline-primary">
                                    <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                            </div>
                        </div>
                    </div>

                </div><br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" style="font-weight: bolder;"> Descripción </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane container active" alt="descripcionproducto">
                        <br>
                        <p class="text-justify">{{detalle.descripcion}}</p>
                    </div>
                </div>
            </div>
            <!-- pie del modal-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!--Fin de contenido del Modal -->
    </div>
    <!--Fin Modal dialog-->
</div>
<!--Fin Modal-->