<div class="container py-5">
    <!-- Seccion de desarrolladores-->
    <h2 class="titulos text-center">Team Desarrollador</h2>
    <p class="text-muted mb-4 text-center">Equipo de desarrollo de este sitio web.</p>

    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Carta-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fdesarrolladores%2Fperfil_stakeholder_CC.jpeg?alt=media&token=2fbf1162-f2ae-4663-b0b0-51f3fafe4cf1"
                        class="w-100 " style="height: 310px;">
                    <div class="p-4">
                        <h5 class="mb-0">Cristhian Córdova</h5>
                        <p class="small text-muted">Scrum Master</p>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item m-0"><a
                                    href="https://www.facebook.com/profile.php?id=100007886196466" target="_blank"
                                    class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item m-0"><a href="https://www.instagram.com/cristhiancordova765/"
                                    target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Carta-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fdesarrolladores%2Fperfil_stakeholder_SG.jpg?alt=media&token=ba39ec35-e894-4168-8c04-d9c5699bd116"
                        class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Bryan Guevara</h5>
                        <p class="small text-muted">Stakeholder</p>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item m-0"><a
                                    href="https://www.facebook.com/profile.php?id=100063850462689" target="_blank"
                                    class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item m-0"><a
                                    href="https://instagram.com/steven_guevara_pando?igshid=ZDdkNTZiNTM="
                                    target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Carta-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fdesarrolladores%2Fperfil_stakeholder_JM.jpeg?alt=media&token=64afbeef-820f-4af4-965d-a90d66e61721"
                        class="w-100 " style="height: 310px;">
                    <div class="p-4">
                        <h5 class="mb-0">Jeiner Mendieta</h5>
                        <p class="small text-muted">Stakeholder</p>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item m-0"><a href="https://www.facebook.com/jair.mendieta.549"
                                    target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item m-0"><a
                                    href="https://instagram.com/jeinermendieta?igshid=YmMyMTA2M2Y=" target="_blank"
                                    class="social-link"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Carta-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fdesarrolladores%2Fperfil_stakeholder_BG.jpg?alt=media&token=f6443770-bbfd-4633-b123-529084fdbd7d"
                        class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Bryan Guncay</h5>
                        <p class="small text-muted">Stakeholder</p>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item m-0"><a href="https://www.facebook.com/bryan.guncay.31"
                                    target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item m-0"><a href="https://www.instagram.com/bryan_guncay/"
                                    target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Carta-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fdesarrolladores%2Fperfil_stakeholder_AB.jpeg?alt=media&token=af25730e-86d1-4c38-a827-617ebfe3ee46"
                        class="w-100 card-img-top" style="height: 310px;">
                    <div class="p-4">
                        <h5 class="mb-0">Anthony Buri</h5>
                        <p class="small text-muted">Stakeholder</p>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item m-0"><a href="https://www.facebook.com/anthony.buri.1/"
                                    target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item m-0"><a
                                    href="https://instagram.com/anthonyburi?igshid=ZDdkNTZiNTM=" target="_blank"
                                    class="social-link"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Carta-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fdesarrolladores%2Fperfil_stakeholder_JD.jpeg?alt=media&token=342fe7ee-b7c1-4af3-91a4-4ccf8a992c6f"
                        alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Jordy Díaz</h5>
                        <p class="small text-muted">Stakeholder</p>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item m-0"><a
                                    href="https://www.facebook.com/profile.php?id=100085907451209" target="_blank"
                                    class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item m-0"><a
                                    href="https://instagram.com/jordydiaz27?igshid=ZDdkNTZiNTM=" target="_blank"
                                    class="social-link"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>