<app-navbar></app-navbar>
<div class="about">
  <div class="container">
    <div class="text-center">
      <h2 class="titulos"> ¿Quienes somos? </h2>
      <div class="p-2">
        <p class="text-center">Somos una empresa 100% Ecuatoriana, que trabajamos por mejorar y ser reconocida al nivel
          mundial.
        </p>
        <p class="text-center">Contamos con un catálogo online que poco a poco crecerá para dar un mejor soporte para
          todos.
        </p>
      </div>
      <img
        src="https://images.pexels.com/photos/15336560/pexels-photo-15336560.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="img-fluid">
    </div>
  </div>
</div>

<div class="container cont-card">
  <div class="row">
    <div class="col-sm-6 p-3">
      <div class="card text-black mb-3">
        <div class="card-body">
          <div class="card-header">
            <h2 class="card-title">Misión</h2>
          </div>
          <p class="card-text text-justify">Generar una experiencia de compra inolvidable, ofreciendo lo mejor del
            calzado para toda
            la familia, a través de la integración de nuestra página web y el trabajo de un equipo comprometido con la
            calidad y la
            mejora continua.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 p-3">
      <div class="card text-black mb-3">
        <div class="card-body">
          <div class="card-header">
            <h2 class="card-title">Visión</h2>
          </div>
          <p class="card-text text-justify">Crecer con la satisfacción de nuestros clientes y colaboradores, hasta el
            punto de
            liderar la comercialización de calzado en todo el pais.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<h2 class="titulos text-center"> Nuestros valores </h2>

<div class="container p-3">
  <div class="row">
    <div class="col-sm-6 p-3">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Ffelicidad.png?alt=media&token=67ecaaa2-dcce-497d-9a08-d8a6190392e6"
              class="img-fluid rounded-start" style="padding: 25px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Transmitimos felicidad</h5>
              <p class="card-text text-justify">Creemos firmemente que podemos transmitir felicidad solo si AMAMOS lo
                que hacemos.
                Nuestros clientes internos y externos deben salir con una sonrisa de nuestro catálogo online.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-6 p-3">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fjuntos.png?alt=media&token=ad61ae8b-5fa6-4ce9-8826-737768ccad67"
              class="img-fluid rounded-start" style="padding: 25px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Caminamos contigo</h5>
              <p class="card-text text-justify">Sabemos que la sociedad actual exige rapidez y por ello nos esforzamos
                en dar lo mejor de nosotros en cada momento.
                La agilidad y la predisposición al cambio está en nosotros.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 p-3">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fobjetivo.png?alt=media&token=16a649f6-e8e4-4560-b95b-92153275d710"
              class="img-fluid rounded-start" style="padding: 25px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Íntegros en nuestro andar</h5>
              <p class="card-text text-justify">En ASTROSHOES tenemos claras las nociones de lo bueno y lo malo.
                Respetamos nuestro reglamento interno y los Protocolos de Atención al Cliente. En suma, nuestros valores
                se perciben en cada acción.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 p-3">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fcrecer.png?alt=media&token=4eb41d72-44c4-4f2f-a919-23a7c19e0a9d"
              class="img-fluid rounded-start" style="padding: 25px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Crecemos con cada paso</h5>
              <p class="card-text text-justify">Nuestro equipo crece y se fortalece con el aprendizaje constante.
                Asumimos nuevos retos con entusiasmo y cada problema representa una oportunidad de mejora,
                de la que nacen propuestas innovadoras.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<app-card-seccion></app-card-seccion>
<app-footer></app-footer>